<app-barra-comandos (eventoBusca)="get($event)"></app-barra-comandos>
<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Registro</th>
        <th>Especialidade</th>
        <th>Unidade</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td class="fit">{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.registroConselho }}</td>
            <td>{{ item.especialidade.nome }}</td>
            <td>{{ item.unidade.nome }}</td>
            <td>{{ item.telefone }}</td>
            <td>{{ item.email }}</td>
            <td>
                <a class="botao"
                   routerLink="./form"
                   [queryParams]="{id: item.id}">Editar</a>
                <a class="botao excluir"
                    (click)="delete(item.id)">Excluir</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">Total de registros: {{ registros.length }}</td>
        </tr>
    </tfoot>
</table>
