<app-barra-comandos (eventoBusca)="get($event)"></app-barra-comandos>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Profissional</th>
            <th>Unidade</th>
            <th>Convênio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td class="fit">{{ item.data | date:'dd/MM/yyyy' }}</td>
            <td class="fit">{{ item.hora | slice:0:5 }}</td>
            <td>{{ item.paciente.nome }}</td>
            <td>{{ item.profissional.nome }}</td>
            <td>{{ item.profissional.unidade.nome }}</td>
            <td>{{ item.convenio?.nome }}</td>
            <td>
                <a class="botao chegada"
                   (click)="updateStatus(item.id)"
                   [ngClass]="{ 'inativo': item.status == 'AGENDADO' }">Chegada</a>
                <a class="botao confirmacao"
                   (click)="updateStatus(item.id)"
                   [ngClass]="{ 'inativo': item.status == 'CONFIRMADO' }">Confirmar</a>
                <a class="botao"
                   routerLink="./form"
                   [queryParams]="{id: item.id}">Editar</a>
                <a class="botao excluir"
                   (click)="delete(item.id)">Cancelar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">Total de registros: {{ registros.length }}</td>
        </tr>
    </tfoot>
</table>
